* {
    margin: 0;
    padding: 0;
}

:root{
    --cor-principal:#3ab54a;
    --cor-secundaria:#8dc73f;
    --cor-terciaria: #b9ef72;
    --branco: white;
}

section.secao{
    text-align: none;
    display:flex;
    background-color: var(--branco)
}

header.cabecalho{
    background-color: var(--cor-principal);
    padding: 1em;
}

section nav a button.botao {
    background-color: var(--cor-principal);
    color: white;
    padding: 10px 20px; 
    border-style: none; 
    border-radius: 10px;
    cursor: pointer; 
    transition: 0.3s ease, 0.3s ease; 
    margin-top: 30px;
    margin-left: 40px;
}

section nav a button.botao:hover {
    background-color: var(--cor-terciaria);
    transform: scale(1.05); 
}

section nav a button.botao:active {
    background-color: var(--cor-secundaria);
    transform: scale(1.05); 
}

section nav a button.botaodiferente {
    background-color: var(--cor-principal);
    color: white;
    padding: 10px 20px; 
    border-style: none; 
    cursor: pointer; 
    transition: 0.3s ease, 0.3s ease; 
    margin-top: 30px;
    margin-left: 40px;
}

section nav a button.botaodiferente:hover {
    background-color: var(--cor-terciaria);
    transform: scale(1.05); 
}

section nav a button.botaodiferente:active {
    background-color: var(--cor-secundaria);
    transform: scale(1.05); 
}

section img.logonutri{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}  
section p.p1{
    font-size: 75px;
    color: var(--cor-principal);
}

section.secao1{
    

}