<!DOCTYPE html>


<html lang="pt-br" dir="ltr">
<head>
    <title> NutriOak | Página Inicial </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <header class="cabecalho">
       
    </header>
    <section class="secao">
        <img class="logonutri" src="../static/img/logonutri.png" alt="Logo da empresa fictícia 'NutriOak'">
        <p class="p1"> | </p>
        <nav>
            <a href="/"><button class="botao">Início</button></a>
            <a href="/serviços"><button class="botao">Serviços</button></a>
            <a href="/contato"><button class="botao">Contato</button></a>
            <a href="/calculadora"><button class="botaodiferente">Calculadora IMC</button></a>
        </nav>
    </section>
    <section class="secao1">
        <div class="container">
            <div class="diverente">
                <br><br>
                <h1 class="h11">Nutri Oak: Nutrindo sua Saúde, Transformando sua Vida</h1>
                <h2 class="h21">Descubra uma Abordagem Personalizada para o Bem-Estar</h3>
                <p class="texto1">Bem-vindo ao Nutri Oak, seu destino online para orientação e cuidados em saúde e bem-estar. Pensando no melhor para os nossos clientes,nossa equipe dedicada está comprometida em oferecer os melhores recursos e serviços para ajudá-lo a alcançar seus objetivos de saúde.</p>
                <p class="texto1">No Nutri Oak, acreditamos na importância de uma abordagem personalizada para a saúde. Navegue por nosso site para encontrar uma variedade de recursos valiosos, desde artigos informativos até dicas práticas para melhorar sua dieta e estilo de vida.</p>    
                <p class="texto1">Marque uma consulta conosco e descubra como podemos ajudá-lo em sua jornada para uma vida mais saudável e equilibrada. No Nutri Oak, estamos aqui para apoiá-lo em cada passo do caminho.</p>
                <a href="/servicos"><button class="bleble">Tenho Interesse</button></a>
            </div>
            <img class="nutricionista" src="..//static/img/nutricionista.png" alt="livro de nutrição">
        </div>
    </section>
   
    <section class="secao2">

    </section>
    <section class="secao3">
        <br><br>
        <h3 class="h31">Para quem é a NutriOak?</h3>
        <div class="dive">
            <img src="..//static/img/paraquem.png" alt="">
            <img src="..//static/img/paraquemmus.png" alt="">
            <img src="..//static/img/paraquemsau.png" alt="">
        </div>
    </section>
    <footer class="rodape">
        <h3 class="textorodape">TODOS OS DIREITOS RESERVADOS</h3>
    </footer>
</body>