<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <title> NutriOak | Serviço </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/serviços.css">
</head>
<body>

    <header class="cabecalho">
       
    </header>
    <section class="secao">
        <img class="logonutri" src="../static/img/logonutri.png" alt="Logo da empresa fictícia 'NutriOak'">
        <p class="p1"> | </p>
        <nav>
            <a href="/"><button class="botao">Início</button></a>
            <a href="/serviços"><button class="botao">Serviços</button></a>
            <a href="/contato"><button class="botao">Contato</button></a>
            <a href="/calculadora"><button class="botaodiferente">Calculadora IMC</button></a>
        </nav>
    </section>
    <section class="secao1">
        <div><h2 class="text1so">Serviços oferecidos</h2></div>
    <div class="textoimg">
       
            <div>
                <h3 class="titulo1">Avaliação nutricional individual</h3>
                <h5 class="text1">Se você está procurando melhorar sua saúde através
                          da alimentação,<br> gostaria de convidá-lo(a) para uma consulta de
                           avaliação nutricional<br> abrangente. Durante essa consulta, vamos
                           ter uma conversa detalhada<br> sobre seus hábitos alimentares,
                          histórico médico, preferências culinárias<br> e metas de saúde.
                         Além disso, realizarei uma análise minuciosa do seu<br> estado
                          nutricional, utilizando ferramentas como avaliação de composição <br>
                          corporal e análise de ingestão alimentar. O objetivo é
                          compreender<br> completamente suas necessidades individuais
                          para que eu possa <br>desenvolver um plano alimentar personalizado
                           que se adapte ao seu<br> estilo de vida e promova sua saúde e bem-estar.</h5>
            </div>
            <div><img class="imagem1" src="/static/img/nutriconista-conversando.jpg" alt=""></div>
         </div>
         <div class="dv">
            <div>
                <h3 class="titulo2">Planejamento de Dieta Personalizado</h3>
                <h5 class="text2">Após nossa avaliação inicial, nosso próximo passo será
                            criar<br> um plano alimentar personalizado especialmente para você.<br> Levando
                         em consideração não apenas sua idade, sexo e níveis<br> de atividade física,
                           mas também suas preferências alimentares,<br> restrições dietéticas e metas
                         específicas, vou desenvolver um<br> plano nutricional equilibrado e realista.
                          Este plano será adaptado<br> às suas necessidades nutricionais individuais,
                          fornecendo os<br> nutrientes necessários para sustentar sua saúde e energia,<br>
                         enquanto trabalhamos juntos para alcançar seus objetivos de<br> saúde a longo
                           prazo.</h5>
            </div>
            <div>
                <img class="imagem2" src="/static/img/nutricionista-dieta.webp" alt="">
            </div>
         </div>
     </div>
     <div class="dv2">
        <div>
            <h3 class="titulo3"> Nutrição Esportiva</h3>
            <h5 class="text3">Se você é atleta, entusiasta do fitness ou simplesmente
                 alguém<br> que ama se exercitar, posso ajudá-lo(a) a otimizar sua nutrição<br>
                 para melhorar seu desempenho e alcançar seus objetivos de<br> condicionamento
                 físico. Durante nossas consultas, discutiremos<br> estratégias nutricionais
                 específicas para otimizar sua energia,<br> resistência, recuperação e
                 resultados atléticos. Além disso,<br> abordaremos a importância da hidratação
                 adequada e da<br> suplementação, se necessário, para garantir que você
                esteja<br> obtendo o máximo de seu treinamento e alcançando seu <br>potencial máximo.</h5>
        </div>
        <div><img class="imagem3" src="/static/img/nutrição-esportiva.jpeg" alt=""></div>
     </div>
     </div>
     <div class="dv3">
        <div>
            <h3 class="titulo4">Palestras e Workshops</h3>
            <h5 class="text4">Além das consultas individuais, também oferecemos palestras, <br>workshops
                 e programas educacionais sobre nutrição e estilo de vida <br>saudável para grupos,
                  empresas, escolas e comunidades. Se você está <br>interessado(a) em aprender mais
                   sobre nutrição e como melhorar sua<br> saúde através da alimentação, entre em
                   contato para discutir opções de <br>eventos personalizados para atender às
                  necessidades do seu grupo.<br> Tendo como principal foco fornecer informações
                   valiosas, práticas e <br>baseadas em evidências que capacitem os participantes
                  a tomar decisões <br>alimentares mais saudáveis e promover um estilo de vida
                  mais vibrante<br> e equilibrado.</h5>
        </div>
        <div>
            <img class="imagem2" src="/static/img/nutricionista-palestra.jpg" alt="">
        </div>
     </div>
 </div>
 <div class="dv4">
    <div>
        <h5 class="titulo5"> Gestão de peso</h3>
        <h5 class="text5">Se você está procurando perder peso, ganhar peso ou apenas<br> manter
             seu peso atual, estou aqui para ajudar. Juntos, vamos<br> desenvolver um plano alimentar
              que seja realista, sustentável e <br>alinhado com seus objetivos de peso e saúde.
              Utilizando abordagens<br> baseadas em evidências e estratégias comprovadas, vamos
               trabalhar<br> para encontrar o equilíbrio certo de calorias, macronutrientes<br> e
               micronutrientes para atender às suas necessidades individuais.<br> Além disso, vou
               fornecer suporte e orientação contínuos para <br>ajudá-lo(a) a superar obstáculos,
                ajustar seu plano conforme <br>necessário e manter seu progresso ao longo do tempo.</h5>
    </div>
    <div><img class="imagem5" src="/static/img/nutricionista-gestão-peso.jpg" alt=""></div>
 </div>
    </section>
    <footer class="rodape">
        <h3 class="textorodape">TODOS OS DIREITOS RESERVADOS</h3>
    </footer>
</body>
</html>